chainlit==2.0.2
langchain==0.3.14
langchain_community==0.3.14
langchain_core==0.3.29
langchain_openai==0.3.0
langgraph==0.2.62
matplotlib==3.10.0
pandas==2.2.3
pydantic==2.10.5
python-dotenv==1.0.1
scanpy==1.10.4
duckduckgo-search
langgraph-checkpoint-sqlite
